/*Link style order: LoVHAte
------------------------------------ */
a,a:link		{color: #38adda;}
a:visited		{color: #2d8db2;}
a:focus,a:hover	{color: #efefef;background:#333;}
a:active		{color: #333; background:#F7A236;}

.current a{
	background: #333;
	color: #efefef;
}

/* Horiztonal Navigation Styling
------------------------------------ */
nav[role="navigation"] ul {
	border: 1px solid #ccc;
	border-width: 1px 0;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav[role="navigation"] li {
    display: inline;
}

nav[role="navigation"] a {
	display: inline-block;
	padding: 0 .625em;
/* 10px รท 16 */
	line-height: 2.75em;
}
