/* demo css */
.container {
	width: 50%;
	margin: 10% auto;
}
/*
This color border color and size combo is kinda cool.

.box{
border-style: solid;
border-color: blue red green gray;
border-width: 5px 10px 5px 10px;
}
*/

/* write example css below */

/*Shorthand css: top right bottom left */
.box {
    color: red;
    border: 10px solid gray;
	padding: 10%;
}
		