/*
	=LAYOUT 
	 WRITE YOUR CSS RULES BELOW
--------------------------------------*/
.container {
	width:960px;
	margin: 0 auto;
}
.header{
	width: 460px;
	margin: 0 10px;
	float: left;
}
.navbar{
	width: 460px;
	margin: 0 10px;
	float: left;
}

.primary{
	width: 620px;
	margin: 0 10px;
	float: left;
}
.secondary {
	width: 300px;
	margin: 0 10px;
	float: left;
}
.footer{
	width: 940px;
	margin: 0 10px;
	clear: both;
}

/*clearing nested floats in containing element */

.group:after{
	content: " ";
	display: block;
	clear: both;
}


/* 
	=RESPONSIVE LAYOUT 
--------------------------------------*/
/* for 960 or less*/
/* Bring back our FLUID LAYOUT */

@media screen and (max-width: 960px) {

	img {
		max-width: 100;
	}

	.container {
		width: 90%;
	}

	.header {
		width: 47.91666667%;
		margin: 0 1.0416667%;
	}

	.primary {
		width: 64.5833333%;
		margin: 0 1.0416667%;
		background-color: coral;
	}

	.secondary {
		width: 31.25%;
		margin: 0 1.0316667%;
		background: cornflowerblue
	}

	.footer {
		width: 97.9166667%;
		margin: 0 1.0416667%;
	}

}

@media screen and (max-width: 800px) {
	.header {
		width: auto;
		float: none;
	}

	.navbar {
		width: auto;
		float: none;
	}

	.navbar ul {
		margin-bottom: 0;
	}
	
}